<section class=" d-flex align-items-end">
  
    <div class="container header-bg">
    
      <!-- <div class="Web-address pb-5 d-flex align-items-center justify-content-center "> 
       
     
    
      </div> -->
       
        <div class="demo m-5">
          
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of parentData ">
                  <ng-template carouselSlide [id]="movie.id">
                    <a  [routerLink]='["/detalis" , movie.id]'>
                      <img  class="img-header " [src]="imgPrefix+movie.poster_path" [alt]="movie.alt" [title]="movie.title">
                    </a>
                  
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        
        
    </div>
   


</section>