// .text-animation {
//     list-style: none;
//     position: absolute;
//     left: 50%;
//     top: 30%;
//     transform: translateX(-50%)translateY(-50%);
//     li{
//         display: inline-block;
//         margin-right: 5px;
//         font-family:"Segoe ui light";
//         font-weight: 400;
//         font-size: 5em;
//         opacity: 1;
//         transition: all 1.5 ease;

//     }
// }

// .Web-address{

//            font-family: 'Indie Flower', cursive;
//         h1{
//             font-weight: bolder;
//             font-size: 80px;
//             text-shadow: rgb(66, 10, 10);
//         }
// }
.text-animation :last-child{
    margin-right: 0px;
}
.text-animation.hidden{
    opacity: 1;
}
.text-animation.hidden li:nth-child(1){transform: translateX(-500px) translateY(-200px);}
.text-animation.hidden li:nth-child(2){transform: translateX(-20px) translateY(-100px);}
.text-animation.hidden li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
