<section class="vh-100 d-flex align-items-end">
    <div class="container">
      <div class="Web-address pb-5 "> 
        <ul class="text-animation hidden font-weight-bolder text-center  "> 
          <li>OUR</li>
          <li>LATEST</li>
          <li> MOVIES </li>
        </ul>
    
      </div>
       
        <div class="demo m-5">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let movie of parentData ">
                  <ng-template carouselSlide [id]="movie.id">
                    <a  [routerLink]='["/detalis" , movie.id]'>
                      <img  class="img-header " [src]="imgPrefix+movie.poster_path" [alt]="movie.alt" [title]="movie.title">
                    </a>
                  
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        
        
    </div>
   


</section>