<section  @fade >
    <div id="detalis"class="p-2">
 
    
      <div>
          <div class="container people-detalis py-5">
            <div class="row">
                <div class="col-md-4">
                    <img class="w-100 " [src]="imgPrefix+personDetalis?.profile_path" alt="movie.title">
                </div>
                <div class="col-md-8 ">
                    <div class="title mt-5 py-5">
    
                        <h3 class="m-2">Name : {{personDetalis?.name}}</h3>
                        <h3 class="m-2">Birthday : {{personDetalis?.birthday}}</h3>
                        <h3 class="m-2">Residence :{{personDetalis?.place_of_birth}}</h3>
                        
                        <div class="social-media text-light m-5">
                          <a class="navbar-brand nav-link font-weight-bolder p-1 fab mx-2 fa-facebook-f"></a>
                          <a class="navbar-brand nav-link font-weight-bolder p-1 fab mx-2 fa-instagram"></a>
                          <a class="navbar-brand nav-link font-weight-bolder p-1 fab mx-2 fa-twitter"></a>
                          <a class="navbar-brand nav-link font-weight-bolder p-1 fab mx-2 fa-youtube"></a>
                          
                        </div>
                     
                   
                       
                      </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="background-darkmod" class="background-dark  ">
    </div>
</section>
